<!DOCTYPE html>
<html lang='en-ca'>
<head>
    <meta charset="utf-8">
    <title>My Portfolio - Erin Elizabeth's graphic design work - Ottawa, Canada</title>
    <link href="{{{site.baseurl}}}css/common.css" rel="stylesheet">
    <meta name="description" content="My Portfolio: Erin Elizabeth's graphic design work">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,intial-scale=1">
    <link href="css/modules.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/type.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

</head>
    
<body>
{{content}}
</body>
</html>